# Maxfiy ma'lumotlar
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environment
venv/
.venv/

# Ma'lumotlar bazasi
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# OS
.DS_Store
